<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fname) %>:</strong></dt>
  <dd><%= @person.fname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lname) %>:</strong></dt>
  <dd><%= @person.lname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @person.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile) %>:</strong></dt>
  <dd><%= @person.mobile %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
  <dd><%= @person.fax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pager) %>:</strong></dt>
  <dd><%= @person.pager %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @person.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ntid) %>:</strong></dt>
  <dd><%= @person.ntid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @person.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @person.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @person.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zipcode) %>:</strong></dt>
  <dd><%= @person.zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @person.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:suite) %>:</strong></dt>
  <dd><%= @person.suite %></dd>
  <dt><strong><%= model_class.human_attribute_name(:column) %>:</strong></dt>
  <dd><%= @person.column %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @person.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= @person.department %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @person.company %></dd>
  <dt><strong><%= model_class.human_attribute_name(:office) %>:</strong></dt>
  <dd><%= @person.office %></dd>
  <dt><strong><%= model_class.human_attribute_name(:assistant) %>:</strong></dt>
  <dd><%= @person.assistant %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
