<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class='logo'>
		<%= image_tag "as_logo_search.png"%>
	</div>
	<div class='search'>
		
		<br><br>
		<div class='well'>
			<p><strong>Enter Search Criteria</strong></p>
			<form class="form-inline">

				<input type="text" class="input-large" placeholder="Name, Phone #, Conf Rm Name" autofocus >
				<button type="submit" class="btn">Search</button> 
				<!-- accordian button -->

				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseHelp"> <button type="link" class="btn btn-info btn-mini">
					<i class="icon-question-sign"></i>
				</button></a>
				<!-- end accordion button -->

			</form>


			<!-- Help Accordian area -->

			<div id="collapseHelp" class="accordion-body collapse" style="height: 0px; ">
				<div class="accordion-inner">
					<p><strong>Person Search:</strong> <br>Last Name, First Name (e.g. Smith, John)</p>
					<p><strong>Conference Room Search:</strong> <br>Plaza-Building, Suite-Name (e.g South-I2W-20E-1)</p>
					<p><strong>Phone Number Search:</strong> <br>Please provide at least the last 4 digits of the phone number (e.g. 8686)</p>
				</div>
			</div>

			<!-- end accordian help -->



			<p><h6>Filter Results (Show Only)</h6></p>	
			<label class="checkbox">
				<input type="checkbox"> Employee & Contractor
			</label>
			<label class="checkbox">
				<input type="checkbox"> Agent
			</label>
			<label class="checkbox">
				<input type="checkbox"> Conference Room
			</label>
		</div>
	</div>

	<div class='reminder'>
		<ul>
		<li>Is your information up to date? If not go to the <a href="#">Address Book Update Form</a> to make the necessary changes. </li>
		<li>Do you have feedback/suggestions regarding the corporate directory application? Go to the <a href="#">Corporate Directory Blog</a> and give us your feedback.</li>
		</ul>
	</div>

	<div class='clear'>
	</div>

	<%= yield %>

</body>
</html>
